django
django-crispy-forms
django-debug-toolbar
django-extensions

ipython
celery
requests
django-filter
djangorestframework
drf-yasg
djangorestframework-xml
djangorestframework-csv
beautifulsoup4
lxml

flake8
flake8-print
flake8-builtins
flake8-import-order
flake8-debugger
