{% extends 'base.html' %}
{% block title %} ContactUs List {% endblock %}

{% block content %}


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">email from</th>
        <th scope="col">reply_to</th>
        <th scope="col">subject</th>
        <th scope="col">message</th>
        <th scope="col">created</th>
    </tr>
    </thead>
    <tbody>
    {% for val in contactus_list %}
    <tr>
        <th scope="row">{{ val.id }}</th>
        <td>{{ val.email_from }}</td>
        <td>{{ val.reply_to }}</td>
        <td>{{ val.subject }}</td>
        <td>{{ val.message }}</td>
        <td>{{ val.created|date:"Y-m-d" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %} 