{% extends 'base.html' %}
{% block title %} Rate {% endblock %}
{% block content %}
<a href="{% url 'currency:rate_create' %}">Rate Create</a>

<table border="1">
    <tr>
        <td>id</td>
        <td>type</td>
        <td>source</td>
        <td>buy</td>
        <td>sale</td>
        <td>created</td>
        {% if request.user.is_authenticated %}
            <td>details</td>
        {% endif %}
        <td>edit</td>
        <td>delete</td>
    </tr>
    {% for val in rate_list %}
    <tr>
        <td>{{ val.id }}</td>
        <td>{{ val.type }}</td>
        <td>{{ val.source.name }}</td>
        <td>{{ val.buy }}</td>
        <td>{{ val.sale }}</td>
        <td>{{ val.created|date:"Y-m-d" }}</td>
        {% if request.user.is_authenticated %}
            <td><a href="{% url 'currency:rate_detail' val.id %}">Details</a></td>
        {% endif %}
        <td><a href="{% url 'currency:rate_update' val.id %}">Edit</a></td>
        <td><a href="{% url 'currency:rate_delete' val.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}