{% extends 'base.html' %}
{% block title %} Source List {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <a href="{% url 'currency:source_create' %}" class="btn btn-secondary">Create Source</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">logo</th>
                <th scope="col">source_url</th>
                <th scope="col">name</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for val in source_list %}
            <tr>
                <th scope="row">{{ val.id }}</th>
                <td><img src="{{ val.logo_url }}" width="80" height="80" class="rounded-circle"></td>
                <td>{{ val.source_url }}</td>
                <td>{{ val.name }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'currency:source_detail' val.id %}">Details</a>
                            <a class="dropdown-item" href="{% url 'currency:source_update' val.id %}">Edit</a>
                            <a class="dropdown-item" href="{% url 'currency:source_delete' val.id %}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}